*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    color: aliceblue;
}
.header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navBar a{
    display: inline-block;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navBar a:hover{
color: rgb(10, 49, 247);
}
.home{
   position: relative;
   width: 100%;
   justify-content: space-between;
   height: 100vh;
   background:url(src/background4.png) no-repeat; 
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;
}
.home-content h3{
font-size: 30px;
font-weight:30px ;
}
.home-content h3 span{
    color: rgb(140, 41, 222);
    font-size: 30px;
    font-weight:30px ;
    }
.home-content p{
    font-size: 22px;
    font-weight:20px ;
}
.social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: transparent;
    border: 2px solid rgb(10, 49, 247);
    border-radius: 50%;
    font-size: 20px;
    color: blue;
    text-decoration: none;
    margin: 25px 10px 30px 0;
}
.social a:hover{
    background:blue;
    color: #f4f4f4;
    box-shadow: 0 0 20px blue;
}